<!--Menüleiste mit Schriftzug-->

<div class="myDiv" >
  <img class="imgSz" src="../../assets/schriftzug4.png">
 
 <div class="myDiv2">
   
  <a class="route" routerLink="Home" routerLinkActive="active">Home</a>
  &nbsp;
  <a class="route" routerLink="Massagen/Preise" routerLinkActive="active">Massagen/Preise</a>
  &nbsp;
  <a class="route" routerLink="Kontakt" routerLinkActive="active">Kontakt</a>
  &nbsp;
  <a class="route" routerLink="Anfahrt" routerLinkActive="active">Anfahrt</a>
  &nbsp;
  <a class="route" routerLink="Impressum" routerLinkActive="active">Impressum</a>
</div>
</div>

