
<br>
<div>
<img class="imgLogo" src="/assets/logo.png">
<div class="kontaktDiv">
    <label class="textA">Termine nach Vereinbarung</label>
    <br><br><br>
    <label class="textA">Telefon:</label> <label class="textP2">0175 8890333</label>
    <br><br>
    <label class="textA">E-Mail:</label> <label class="textP3">wellness-massagen-kretschmer@web.de</label>
    <br><br>    
    <label class="textA">Adresse:</label> <label class="textP4">Bahnhofstraße 13 </label>
    <br> <label class="textP1">01778 Lauenstein</label>

</div>
</div>