<!--Menüleiste mit Schriftzug-->

<div class="myDiv" >
 <!-- <img class="imglogo" src="\assets\logo.png">
  <img class="imgSz" src="\assets\schriftzug.jpg">
  <img class="imgSz" src="\assets\schriftzug2.png">-->
  <img class="imgSz" src="\assets\schriftzug3.png">
 
 <div class="myDiv2">
  <a class="route" routerLink="Home">Home</a>
  &nbsp;
  <a class="route" routerLink="Angebot">Angebot</a>
  &nbsp;
  <a class="route" routerLink="Kontakt">Kontakt</a>
  &nbsp;
  <a class="route" routerLink="Anfahrt">Anfahrt</a>

</div>
</div>

