.myContainer1{
    position:relative;
    width: 100%;
    min-height: 100%;
    height: auto;
    left: 0;
    top: 0;
    background: #e7d6ec;
    padding-bottom: 50px;
    padding-top: 10px;
}
.myContainer2{
    
    width: 1200px;
    height: 95%;
    min-height: 652px;
    padding: 10px;
    background-color: white;
    align-content: center;
    margin: 0 auto;
    border-radius: 25px;
    box-shadow: 5px 5px 5px grey;
    padding-bottom: 20px;
}
