
<div class="acc">
<mat-accordion >
    <mat-expansion-panel class="acc2">
      <mat-expansion-panel-header>
        <mat-panel-title class="taH">
          Entspannungsmassagen
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="imgB">
          <img class="img1" src="/assets/massage1.JPG">
      </div>
      <div class="imgB2">
        <table matTable >
            <tr>
                <th class="taH"></th>
                <th class="taH">Dauer*</th>
                <th class="taH">Preis</th>
            </tr>
            <tr>
                <td class="taR">Rücken-/ Nackenmassage</td>
                <td class="taR">30 Minuten</td>
                <td class="taR">28,00 €</td>
            </tr>
            <tr>
                <td class="taR">Ganzkörpermassage</td>
                <td class="taR">60 Minuten</td>
                <td class="taR">55,00 €</td>
            </tr>
            <tr>
                <td class="taR">ganzheitliche Fußmassage</td>
                <td class="taR">30 Minuten</td>
                <td class="taR">28,00 €</td>
            </tr>
        </table>
    </div>
    </mat-expansion-panel>
    <br>
    <mat-expansion-panel class="acc2">
        <mat-expansion-panel-header>
          <mat-panel-title class="taH">
            Bamboo-Massagen
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="imgB2">
          <table matTable >
              <tr>
                  <th class="taH"></th>
                  <th class="taH">Dauer*</th>
                  <th class="taH">Preis</th>
              </tr>
              <tr>
                  <td class="taR">Rückenmassage</td>
                  <td class="taR">20 Minuten</td>
                  <td class="taR">20,00 €</td>
              </tr>
              <tr>
                  <td class="taR">Ganzkörpermassage</td>
                  <td class="taR">40 Minuten</td>
                  <td class="taR">40,00 €</td>
              </tr>
          </table>
      </div>
      </mat-expansion-panel>
      <br>
      <mat-expansion-panel class="acc2">
          <mat-expansion-panel-header>
            <mat-panel-title class="taH">
                Hot Stone Massagen
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="imgB">
              <img class="img1" src="/assets/hotStone.JPG">
          </div>
          <div class="imgB2">
            <table matTable >
                <tr>
                    <th class="taH"></th>
                    <th class="taH">Dauer*</th>
                    <th class="taH">Preis</th>
                </tr>
                <tr>
                    <td class="taR">Rückenmassage</td>
                    <td class="taR">30 Minuten</td>
                    <td class="taR">33,00 €</td>
                </tr>
                <tr>
                    <td class="taR">Ganzkörpermassage</td>
                    <td class="taR">60 Minuten</td>
                    <td class="taR">65,00 €</td>
                </tr>
            </table>
        </div>
        </mat-expansion-panel>
        <br>
      <mat-expansion-panel class="acc2">
          <mat-expansion-panel-header>
            <mat-panel-title class="taH">
                Ayurvedische Massagen
            </mat-panel-title>
          </mat-expansion-panel-header>
        <!-- <div class="imgB">
              <img class="img1" src="/assets/hotStone.JPG">
          </div>--> 
          <div class="imgB2">
            <table matTable >
                <tr>
                    <th class="taH"></th>
                    <th class="taH">Dauer*</th>
                    <th class="taH">Preis</th>
                </tr>
                <tr>
                    <td class="taR">Rückenmassage</td>
                    <td class="taR">30 Minuten</td>
                    <td class="taR">30,00 €</td>
                </tr>
                <tr>
                    <td class="taR">Fußmassage</td>
                    <td class="taR">30 Minuten</td>
                    <td class="taR">30,00 €</td>
                </tr>
            </table>
        </div>
        </mat-expansion-panel>
        <br>
        <mat-expansion-panel class="acc2">
            <mat-expansion-panel-header>
              <mat-panel-title class="taH">
                Schröpfkopfmassage
              </mat-panel-title>
            </mat-expansion-panel-header>
          <!-- <div class="imgB">
                <img class="img1" src="/assets/hotStone.JPG">
            </div>--> 
            <div class="imgB2">
              <table matTable >
                  <tr>
                      <th class="taH"></th>
                      <th class="taH">Dauer*</th>
                      <th class="taH">Preis</th>
                  </tr>
                  <tr>
                      <td class="taR">Schröpfkopfmassage</td>
                      <td class="taR">20 Minuten</td>
                      <td class="taR">20,00 €</td>
                  </tr>
               
              </table>
          </div>
          </mat-expansion-panel>
          <br>
        <mat-expansion-panel class="acc2">
            <mat-expansion-panel-header>
              <mat-panel-title class="taH">
                Reiki-Behandlung
              </mat-panel-title>
            </mat-expansion-panel-header>
          <!-- <div class="imgB">
                <img class="img1" src="/assets/hotStone.JPG">
            </div>--> 
            <div class="imgB2">
              <table matTable >
                  <tr>
                      <th class="taH"></th>
                      <th class="taH">Dauer*</th>
                      <th class="taH">Preis</th>
                  </tr>
                  <tr>
                      <td class="taR">Reiki-Behandlung</td>
                      <td class="taR">60 Minuten</td>
                      <td class="taR">55,00 €</td>
                  </tr>
              </table>
          </div>
          </mat-expansion-panel>
  </mat-accordion>
  <br>
  <label class="u1">Verschenken Sie Wohlfühlzeit mit einem Gutschein.</label>
  <br><br><br>
  <label class="u2">Wellness-Masssagen sind keine Heilbehandlung und dienen ausschließlich der Entspannung und Prävention.</label>
  <br><br>
  <label class="u2">* Massagedauer beinhaltet eine kurze Ruhephase am Ende der Massage</label>
</div>